{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.83.1" />
    <title>Регистрация</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json" />
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3" />
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico" />
    <meta name="theme-color" content="#7952b3" />
    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet" />
</head>

<body class="bg-light">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <a href="{% url 'index' %}"><img src="{% static '/main/изображение 1.svg' %}" alt="Логотип" width="80px" /></a>
                <h2>Регистрация</h2>
            </div>
            <div class="row g-4 d-flex justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Анкета</h4>
                    <form class="needs-validation" novalidate method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-4">
                                <label for="name" class="form-label">Имя</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required />
                                <div class="invalid-feedback">
                                    Заполните поле
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="surname" class="form-label">Фамилия</label>
                                <input type="text" class="form-control" id="surname" name="surname" placeholder="" value="" required />
                                <div class="invalid-feedback">
                                    Заполните поле
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="middlename" class="form-label">Отчество</label>
                                <input type="text" class="form-control" id="middlename" placeholder="" name="middlename" value="" required />
                                <div class="invalid-feedback">
                                    Заполните поле
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="username" class="form-label">Логин</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="username" name='username' placeholder="Username" required />
                                    <div class="invalid-feedback">
                                        Заполните поле
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="" value="" required />
                                <div class="invalid-feedback">
                                    Заполните поле
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name='email' placeholder="you@example.com" checked="false" required />
                                <div class="invalid-feedback">
                                    Введите верный email
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="birthDate" class="form-label">Дата рождения</label>
                                <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="1234 Main St" required />
                                <div class="invalid-feedback">
                                    Заполните поле
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="phone" class="phone form-label">Номер телефона</label>
                                <input type="tel" class="form-control phone" name="phone" id="phone" placeholder="+7(999)999-99-99" required />
                                <div class="invalid-feedback">
                                    Заполните поле
                                </div>
                            </div>
                            <h4 class="mb-1">Согласие</h4>
                            <div class="my-3">
                                <div class="form-check">
                                    <input id="approval" name="approval" type="checkbox" class="form-check-input" aria-checked="false" required />
                                    <label class="form-check-label" for="approval">Принимаю согласие на предоставление платных услуг</label>
                                    <br>
                                </div>
                                <!-- <small class="text-muted">Full name as displayed on card</small> -->
                                <hr class="my-4" />
                                <button class="w-100 btn btn-primary btn-lg" type="submit">
                                    Зарегистрироваться
                                </button>
                                <div class="mt-3 d-flex justify-content-center">
                                    <a class="px-3" href="{% url 'login' %}">Авторизация</a>
                                </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="my-3 pt-3 text-muted text-center text-small">
            <p class="mb-1">&copy; ФГБУ "ФЦМН" ФМБА</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Конфиденциальность</a></li>
                <li class="list-inline-item"><a href="#">Условия</a></li>
                <li class="list-inline-item"><a href="#">Помощь</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'jquery.maskedinput.min.js' %}"></script>
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script>
    jQuery(function($) {
        $(".phone").mask("+7(999) 999-99-99");
    });
    </script>
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
    </script>
</body>

</html>