{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="generator" content="Hugo 0.83.1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <meta name="theme-color" content="#7952b3" />
    <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    img {
        width: 50px
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    html,
    body {
        height: 100%;
    }

    .wrapper {
        position: relative;
        min-height: 100%;
    }

    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="{% static '/main/изображение 1.svg' %}" alt="Логотип">
                </a>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Главная</a></li>
                    <li><a href="{% url 'record' %}" class="nav-link px-2 link-dark">Врачи</a></li>
                    <li><a href="{% url 'services' %}" class="nav-link px-2 link-dark">Перечень услуг</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Личный кабинет</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger me-2">Выйти</a>
                </div>
                {% else %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary me-2">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-primary">Зарегистрироваться</a>
                </div>
                {% endif %}
            </header>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="bg-dark text-center text-white">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <label class="text-white">ФГБУ "ФЦМН" ФМБА России</label>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="{% static 'jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AcSYCNLkZuJrAMQ2iC-uZqLZBYJiGmdN6Dppe-jWu-_Bj1J41G1Sz_HPmCr8aZ3lYPLGYQFDspOut3RV&currency=RUB&disable-funding=credit,card"></script>
    <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");

    var total = "{{data.costOfAdmission}}";
    var doctor_id = "{{data.id}}";
    var amount = "{{data.costOfAdmission}}"

    function completeOrder() {
        var url = "{% url 'paymentComplete' %}";
        // Пациент
        var surnamePat = document.getElementById('surnamePatient').value;
        var namePat = document.getElementById('namePatient').value;
        var middlenamePat = document.getElementById('middlenamePatient').value;
        var emailPat = document.getElementById('email').value;
        var phonePat = document.getElementById('phone').value;
        var timeTable = document.querySelector('.fkTimeTable:checked').value;
        var approvalPat = document.getElementById('approval').value;

        // Плательщик
        var surnamePay = document.getElementById('surnamePayer').value;
        var namePay = document.getElementById('namePayer').value;
        var middlenamePay = document.getElementById('middlenamePayer').value;
        var phonePay = document.getElementById('phonePayer').value;

        fetch(url, {
            method: "POST",
            headers: {
                "content-type": "applications/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({ doctor_id, surnamePat, namePat, middlenamePat, emailPat, phonePat, approvalPat, timeTable, surnamePay, middlenamePay, namePay, phonePay, amount }),
        });

    }

    paypal
        .Buttons({
            style: {
                color: "blue",
                shape: "rect",
                label: "pay",
                height: 40,
            },

            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total,
                        },
                    }, ],
                });
            },

            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    completeOrder();
                    alert(
                        "Транзакция совершена пользователем: " +
                        details.payer.name.given_name +
                        "!"
                    );
                    window.location.replace("http://127.0.0.1:8000/talon_check");
                });
            },
        })
        .render("#paypal-button-container");

    jQuery(function($) {
        $(".phone").mask("+7(999) 999-99-99");
    });
    </script>
</body>

</html>