{% extends 'main/base.html' %}
{% load static %}
{% block title %}ИС ПМУ{% endblock %}
{% block content %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">
                ФГБУ "ФЦМН" ФМБА Минздрава России
            </h1>
            <p class="lead my-3">
                Головное учреждение в системе оказания медицинской помощи при сосудистой патологии головного мозга и инсульте в России.
            </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
h-md-250
              position-relative
            ">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Интервью</h3>
                    <div class="mb-1 text-muted">27.05.2021</div>
                    <p class="card-text mb-auto">
                        Интервью главного врача Центра Раисы Таировны Таировой
                    </p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
              h-md-250
              position-relative
            ">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Пациенты</h3>
                    <div class="mb-1 text-muted">26.05.2021</div>
                    <p class="mb-auto">
                        Отделение гипербарической оксигенации принимает пациентов
                    </p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="170" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}