{% extends 'main/base.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
<div class="container">
    <main>
        <div class="container py-4">
            <div class="row align-items-md-stretch mb-4">
                <div class="col-md-6 ">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h3 class="display-5" style="font-size: 30px"> <b> {{request.user.surname}} {{request.user.name}} {{request.user.middlename}}</b></h3>
                        <table class="table table-dark table-striped mt-4 table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Информация</th>
                                    <th scope="col">Данные</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Дата рождения</td>
                                    <td>{{request.user.birthDate}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{request.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Номер телефона</td>
                                    <td>{{request.user.phone}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="h-100 text-white p-5 bg-dark border rounded-3">
                        <h3>Последняя активная запись</h3>
                        {% if last %}
                        {% for l in last %}
                        <div class="d-flex mt-4">
                            <h5><b>{{l.fkTimeTable.dateTimeTable}}</b></h5>
                            <label class="px-5">{{l.fkTimeTable.time}}</label>
                        </div>
                        <div class="mt-2">
                            <label>{% for s in l.fkDoctor.fkSpecialization.all %} {{s.nameSpecialization}} {% endfor %}</label>
                            <br>
                            <label class="mt-1">Каб. {{l.fkTimeTable.cabinet}}</label>
                            <label>{{l.fkDoctor.surnameDoctor}} {{l.fkDoctor.nameDoctor}} {{l.fkDoctor.middlenameDoctor}}</label>
                            <br>
                            <label class="mt-3">{{l.fkTimeTable.fkDepartment.addressDepartment}}</label>
                        </div>
                        {% endfor %}
                        {% else %}
                        <label class="mt-4">У вас нет активных записей!</label>
                        <br>
                        <a href="{% url 'record' %}">Новая запись</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample" style="margin-bottom: 100px;">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Все активные записи
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="overflow-hidden p-4">
                            <div class="d-flex row align-items-md-stretch mt-4">
                                <a href="{% url 'record' %}" class="col-md-4 mb-4 text-decoration-none">
                                    <div class=" p-5 bg-light border d-flex justify-content-center align-items-center table-bordered border-primary" style="height: 278px;">
                                        <div>
                                            <h3><b>Новая запись</b></h3>
                                        </div>
                                    </div>
                                </a>
                                {% for el in elements %}
                                <div class="col-md-4 mb-4" style="min-width: 200px">
                                    <div class="h-100 p-5 bg-light border">
                                        <div class="d-flex justify-content-between">
                                            <h5> <b> {{el.fkTimeTable.dateTimeTable}}</b> </h5>
                                            <label>{{el.fkTimeTable.time}}</label>
                                        </div>
                                        <div class="mt-2">
                                            <label>{% for s in el.fkDoctor.fkSpecialization.all %} {{s.nameSpecialization}} {% endfor %}</label>
                                            <br>
                                            <label class="mt-1">Каб. {{el.fkTimeTable.cabinet}}</label>
                                            <label>{{el.fkDoctor.surnameDoctor}} {{el.fkDoctor.nameDoctor}} {{el.fkDoctor.middlenameDoctor}}</label>
                                            <label class="mt-3">{{el.fkTimeTable.fkDepartment.addressDepartment}}</label>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Направления
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="d-flex row align-items-md-stretch mt-4 p-4">
                            {% if request.user.fkDirection.all %}
                            {% for nap in request.user.fkDirection.all %}
                            <div class="col-md-4 mb-4" style="min-width: 200px">
                                <div class="h-100 p-5 bg-light border">
                                    <div class="d-flex justify-content-between">
                                        <h5> <b> {{nap.nameDirection }}</b> </h5>
                                    </div>
                                    <div class="mt-2">
                                        <label>{{nap.description}}</label>
                                        <br>
                                        <label>{{el.fkDoctor.surnameDoctor}} {{el.fkDoctor.nameDoctor}} {{el.fkDoctor.middlenameDoctor}}</label>
                                        <label class="mt-3">{{el.fkTimeTable.fkDepartment.addressDepartment}}</label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>У вас нет направлений!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Анализы
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="d-flex row align-items-md-stretch mt-4 p-4">
                            {% if request.user.fkAnalize.all %}
                            {% for an in request.user.fkAnalize.all %}
                            <div class="col-md-4 mb-4" style="min-width: 200px">
                                <div class="h-100 p-5 bg-light border">
                                    <div class="d-flex justify-content-between">
                                        <h5> <b> {{an.nameAnalize }}</b> </h5>
                                    </div>
                                    <div class="mt-2">
                                        <label>{{an.descriptionAnalize}}</label>
                                        <br>
                                        <label>{{el.fkDoctor.surnameDoctor}} {{el.fkDoctor.nameDoctor}} {{el.fkDoctor.middlenameDoctor}}</label>
                                        <label class="mt-3">{{el.fkTimeTable.fkDepartment.addressDepartment}}</label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>У вас нет сведений об анализах!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}