{% extends 'main/base.html' %}
{% load static %}
{% block title %}Анкета{% endblock %}
{% block content %}
<div class="container ">
    <main>
        <form action="{{ data.doctor }}" class="needs-validation" novalidate method="POST">
            {% csrf_token %}
            <div class="row g-5">
                <div class="block col-md-7 col-lg-8">
                    <div class="row align-items-md-stretch">
                        <div class="col-md-12 mt-4">
                            <div class="h-100 p-5 bg-light border rounded-3">
                                <div>
                                    <h2 class="mb-4">{{ data.surnameDoctor}} {{ data.nameDoctor}} {{ data.middlenameDoctor}}</h2>
                                    <p>Описание: {{data.descriptionDoctor}}</p>
                                    <p>Опыт работы: {{data.experience}}</p>
                                    <p>Специализация:
                                        {% for s in data.fkSpecialization.all %}
                                        {{s.nameSpecialization}}
                                        {% endfor %}</p>
                                    <p>Стоимость приёма: {{data.costOfAdmission}} руб.
                                    </p>
                                </div>
                                <h4 class="mt-4">Расписание врача</h4>
                                <hr class="my-4" />
                                <div class="row align-items-md-stretch d-flex ">
                                    {% for r in timetable %}
                                    {% if r.status == 0 %}
                                    <!-- col-md-4 m-1 -->
                                    <div class="card col-md-3 rounded-0 " style="margin: -1px">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 style="font-size: 15px" class="card-title">{{r.dateTimeTable}}</h6>
                                                <div>
                                                    <input class="form-check-input fkTimeTable" id="fkTimeTable" type="radio" width="20px" name="fkTimeTable" value={{r.id}} aria-checked="false" required>
                                                </div>
                                            </div>
                                            <h6 class="card-subtitle mb-2 text-muted">{{r.time}}</h6>
                                            <p class="card-text" style="font-size: 15px">Кабинет: {{r.cabinet}}</p>
                                            <!-- <p class="card-text">{{r.fkDepartment.addressDepartment}}</p> -->
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 order-md-last" style="margin-bottom: 100px">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Заполните анкету</span>
                    </h4>
                    {{error}}
                    <ul class="list-group mb-3">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Анкета пациента
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-6">
                                                <label for="surnamePatient" class="form-label">Фамилия пациента</label>
                                                <input type="text" class="form-control" id="surnamePatient" name="surnamePatient" maxlength="100" value="{{request.user.surname}}" required />
                                            </div>
                                            <!-- <div id="here"></div> -->
                                            <div class="col-sm-6">
                                                <label for="namePatient" class="form-label">Имя пациента</label>
                                                <input type="text" class="form-control" id="namePatient" name="namePatient" maxlength="100" value="{{request.user.name}}" required />
                                            </div>
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-12">
                                                <label for="middlenamePatient" class="form-label">Отчество пациента</label>
                                                <input type="text" class="form-control" id="middlenamePatient" name="middlenamePatient" maxlength="100" value="{{request.user.middlename}}" required />
                                            </div>
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-12">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" name="email" class="form-control" id="email" placeholder="" value="{% if request.user.email %}{{request.user.email}}{% endif %}" />
                                            </div>
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-12">
                                                <label for="phone" class="form-label">Номер телефона</label>
                                                <input type="text" class="form-control phone" id="phone" name="phone" placeholder="" value="{% if request.user.phone %}{{request.user.phone}}{% endif %}" />
                                            </div>
                                        </div>
                                        <div class="my-3">
                                            <div class="form-check">
                                                <input id="approval" name="approval" type="checkbox" class="form-check-input" aria-checked="false" required />
                                                <label class="form-check-label" for="approval">Принимаю согласие на предоставление платных услуг</label>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Анкета плательщика
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-6">
                                                <label for="surnamePayer" class="form-label">Фамилия плательщика</label>
                                                <input type="text" class="form-control" id="surnamePayer" name="surnamePayer" maxlength="100" required />
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="namePayer" class="form-label">Имя плательщика</label>
                                                <input type="text" class="form-control" id="namePayer" name="namePayer" maxlength="100" required />
                                            </div>
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-12">
                                                <label for="middlenamePayer" class="form-label">Отчество плательщика</label>
                                                <input type="text" class="form-control" id="middlenamePayer" name="middlenamePayer" maxlength="100" required />
                                            </div>
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-12">
                                                <label for="phonePayer" class="form-label">Номер телефона плательщика</label>
                                                <input type="text" class="form-control phone" id="phonePayer" name="phonePayer" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <hr class="my-4" />
                    <div id="paypal-button-container"></div>
                </div>
        </form>
        <!-- <button class="w-100 btn btn-primary btn-lg" type="submit">
    Завершить запись
</button> -->
    </main>
</div>
{% endblock %}