{% extends 'main/base.html' %}
{% load static %}
{% block title %}Врачи{% endblock %}
{% block content %}
<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mt-4">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <div><span class="text-primary">Информация</span>
                            <p class="mt-4">Ознакомьтесь со списком врачей и веберите интересуещего вас</p>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="block col-md-7 col-lg-8" style="margin-bottom: 100px;">
                <form action="{% url 'record' %}" method="GET">
                    <div class="input-group mt-4">
                        <input type="text" class="form-control" placeholder="Введите ФИО, специализацию, опыт работы врача или стоимость приёма" aria-label="Поиск" aria-describedby="button-addon2" name="search">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
                    </div>
                </form>
                {% if elements %}
                <div class="row align-items-md-stretch">
                    {% for el in elements %}
                    <div class="col-md-12 mt-4">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <div>
                                <h2 class="mb-4">{{ el.surnameDoctor}} {{ el.nameDoctor}} {{ el.middlenameDoctor}}</h2>
                                <p>Описание: {{el.descriptionDoctor}}</p>
                                <p>Опыт работы: {{el.experience}}</p>
                                <p>Специализация:
                                    {% for s in el.fkSpecialization.all %}
                                    {{s.nameSpecialization}}
                                    {% endfor %}</p>
                                <p>Стоимость приёма: {{el.costOfAdmission}} руб.
                                </p>
                            </div>
                            <a href="{% url 'doctorDetail' el.pk %}">Выбрать</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}