{% extends 'main/base.html' %}
{% load static %}
{% block title %}Услуги{% endblock %}
{% block content %}
{% if elements %}
<div class="container">
    <main>
        <div class="col-md-5 p-lg-5 mx-auto my-5 text-center">
            <h1 class="display-4 fw-normal">Перечень услуг</h1>
            <p class="lead fw-normal"></p>
        </div>
        <div class="d-flex">
            <table class=" table table-bordered mx-5" style="margin-bottom: 200px">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">№</th>
                        <th scope="col" class="text-center">Наименование</th>
                        <th scope="col" class="text-center">Описание</th>
                        <th scope="col" class="text-center">Структура</th>
                        <th scope="col" class="text-center">Цена</th>
                        <th scope="col" class="text-center">Гарантия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for el in elements %}
                    <tr>
                        <th scope="row" class="text-center">{{ el.id}}</th>
                        <td>{{ el.nameService}}</td>
                        <td style="max-width: 300px">{{el.description}}</td>
                        <td style="max-width: 100px">{{el.structure}}</td>
                        <td>{{el.price}} руб.</td>
                        <td>{{el.warranty}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endif %}
{% endblock %}