{% extends 'main/base.html' %}
{% load static %}
{% block title %}Документы{% endblock %}
{% block content %}
<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mt-4">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <div><span class="text-primary">Информация</span>
                            <p class="mt-4">Скачайте или сохраните скриншоты чека и талона на приём</p>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="block col-md-7 col-lg-8">
                {% if talon %}
                <div class="row align-items-md-stretch">
                    {% for t in talon %}
                    <div class="col-md-12 mt-4">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <div>
                                <h1 class="mb-4">Талон на приём</h1>
                                <h4 class="mb-4">{{ t.surnamePatient }} {{ t.namePatient}} {{ t.middlenamePatient}}</h4>
                                <p>Врач: {{t.fkDoctor.surnameDoctor}} {{t.fkDoctor.nameDoctor}} {{t.fkDoctor.middlenameDoctor}}</p>
                                <p>Дата: {{t.fkTimeTable.dateTimeTable}}</p>
                                <p>Время: {{t.fkTimeTable.time}}</p>
                                <p>Номер кабинета: {{t.fkTimeTable.cabinet}}
                                </p>
                            </div>
                            <a href="{% url 'export_ticket_xls' t.pk  %}">Скачать</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if check %}
                <div class="row align-items-md-stretch" style="margin-bottom: 100px;">
                    {% for c in check %}
                    <div class="col-md-12 mt-4">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <div>
                                <h1 class="mb-4">Чек</h1>
                                <h4 class="mb-4">{{ c.surnamePayer }} {{ c.namePayer}} {{ c.middlenamePayer}}</h4>
                                <p>Дата оплаты: {{c.dateCheck}}</p>
                                <p>Время оплаты: {{c.timeCheck}}</p>
                            </div>
                            <a href="{% url 'export_check_xls' c.pk  %}">Скачать</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
    </main>
</div>
{% endblock %}